body{
    background-color:rgb(229, 226, 226);
     font-size:1rem;
     line-height: 1.5;
 
     margin:0px;

}
p{
    text-align: center;
}
ul{
    max-width: 550px;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
h1{
    font-size:4rem;
    margin-bottom:0;
    text-align: center;
}
@media(max-width:460px){
    h1{
        font-size:3rem;
        line-height: 1;
    }
    h2{
        font-size: 2rem;
    }
    #main{
        margin:0;
    }
    #img-caption{
        font-size:1.4rem;
    }

}
#img-div{
    background-color:white;
    padding:10px;
    margin:0 auto;
    height:auto;
    text-align: center;
}

h2{
    text-align: center;
}
img{
   width:100%;
   display: block; 
   margin:10px 0px 0px 0px;
}
#footer{
    text-align: center;
    display: block;
}
#blockQuote{
    text-align: center;
    font-style: italic;
    max-width: 550px;
    margin-left:350px;
}
